<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ画面</title>
</head>
<body>
    <p>問題に挑戦してみよう！（１問20点）</p>
    <form method="POST" action="/answercheck">
        {% for num, question in data %}
            <p>問題{{ num }} : {{ question }}</p>
            <input type="text" name="user_answer" size="10">
        {% endfor %}
        <br>
        <br>
        <input type="submit" value="送信">
    </form>
    <br>
    <a href="/">戻る</a>
</body>
</html>